.bg-container{
    background-color: #c9f2d7;
    padding:25px;
}

.heading{
    font-family:roboto;
    font-size:2.25rem;
    margin-bottom: 24px;
}

.error-msg{
    background-color: white;
    border-radius:8px;
    padding:12px;
    margin-top:15px;

}